fastapi
uvicorn[standard]
loguru
sqlalchemy
psycopg2-binary
psycopg[binary]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
bcrypt
langchain
langchain-core
langchain-groq
langgraph
langgraph-checkpoint-postgres
psycopg-pool
email-validator
celery
redis
PyMuPDF
langchain-openai
langchain-google-genai
langchain-text-splitters
pgvector